<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>File: {{ filename }}</h1>

        {% if user_id == owned_by %}
        <form action="{{ url_for('save_edit') }}" method="post">
            <textarea name="text" style="width: 100%; height: 300px;">{{ content }}</textarea><br>
            <input type="hidden" name="filename" value="{{ filename }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="role_id" value="{{ role_id }}">
            {% if role_id == 2 %}
                Viewable by Manager: <input type="checkbox" name="view_by_manager" {% if file.view_by_manager == true %} checked {% endif %}><br>
            {% endif %} 
            <input type="submit" value="Save Changes">
        </form>
        {% if role_id == 1 %}
        Viewable by User ID: 
        <form action="{{ url_for('add_user') }}" method="post">
            <input type="text" name="view_by_user">
            <input type="hidden" name="filename" value="{{ filename }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">  
            <input type="submit" value="Add User">
        </form>
    {% endif %}
        {% endif %}
        {% if user_id != owned_by %}
        <form>
            <pre>{{ content }}</pre>
        </form>
        {%endif%}
        <a href="{{ url_for('user_page', user_id=user_id) }}">Back</a>
    </div>
    {% if role_id == 1 and owned_by == user_id %}
        <div class="container">
            <h1>Already have access to this file</h1>
            {% for i in range(available_list|length) %}
            <li>
                <form action="{{ url_for('delete_user') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="filename" value="{{ file.filename }}">
                    <input type="hidden" name="user_to_delete" value="{{ available_list[i] }}">
                    <button type="submit" class="delete-icon">&times;</button>
                    ID: {{ available_list[i] }} User: {{user_names[i]}}
                </form>
            </li>
                
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>